:host {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 50%;
    margin: 0 auto;

    @media screen and (max-width: 440px) {
        width: 90%;
    }
}

.modal {

    &-header {
        padding: 20px 10px;
    }

    &-body {
        font-weight: bold;
        padding: 20px 10px;
    }

    &-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 20px 10px;

        @media screen and (max-width: 330px) {
            flex-direction: column;
        }
    }
}